.hero {
  width: 100%;
  height: 100vh;
  background-color: var(--darkgrey);
}

.hero .container {
  max-width: 1240px;
  padding: 0 1rem;
  margin: auto;
}

.hero .content {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.hero .col-1 {
  padding: 1rem 1rem 1rem 0;
  height: 70vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.hero .col-1 h1 {
  font-size: 42px;
  font-weight: 700px;
  color: #fff;
}

.hero .col-1 p {
  font-size: 1rem;
  color: var(--grey);
  line-height: 1.4;
  margin-top: 1.2rem;
}

.hero .used-by p {
  color: var(--lightgrey);
  font-size: 12px;
  margin: 2rem 0 1rem 0;
}

.hero .col-1 .icons i {
  color: var(--grey);
  padding-right: 1rem;
}

.hero .col-2 {
  padding: 1rem;
  height: 70vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 0.8 rem;
}

.hero .col--2 p {
  color: var(--grey);
}

.hero .form-layout {
  width: 400px;
  margin: auto;
  background-color: #fff;
  border-radius: 6px;
}

.hero .form-container {
  padding: 1.5rem 2rem;
}

.hero .sign-in-text {
  margin-bottom: 10px;
}

.social-login i {
  background-color: #fff;
  padding: 16px 45px 6px 45px;
  border: 1px solid var(--lightgrey);
  border-radius: 4px;
}
.col-2 .divider p {
  width: 100%;
  text-align: center;
  border-bottom: 1px solid var(--lightgrey);
  line-height: 0.1em;
  margin: 2rem 0 2rem;
}

.col-2 .divider p span {
  background-color: #fff;
  padding: 0 10px;
}
form input {
  display: block;
  width: 100%;
  margin: 1.2rem 0;
  padding: 8px;
  border: 1px solid var(--lightgrey);
  border-radius: 4px;
}

.hero .form-footer {
  border-top: 1px solid var(--lightgrey);
  background-color: #f8f8f8;
  border-bottom-right-radius: 8px;
  border-bottom-left-radius: 8px;
}

.form-footer p {
  padding: 1.5rem 2rem;
}

.form_footer span {
  font-weight: 500;
}

@media screen and (max-width: 960px) {
  .hero {
    height: auto;
    width: 100%;
  }
  .hero .container {
    padding: 0 1 rem;
  }
  .hero .content {
    grid-template-columns: 1fr;
  }
  .hero .col-1 {
    height: 90vh;
    padding: 0.2rem 1rem;
    max-width: 100%;
  }
  .hero h1 {
    font-size: 32px;
  }
  .hero .col-2 {
    display: none;
  }
  .slide-in-left {
    -webkit-animation: slide-in-left 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94)
      both;
    animation: slide-in-left 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  }
  @-webkit-keyframes slide-in-left {
    0% {
      -webkit-transform: translateX(-1000px);
      transform: translateX(-1000px);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateX(0);
      transform: translateX(0);
      opacity: 1;
    }
  }
  @keyframes slide-in-left {
    0% {
      -webkit-transform: translateX(-1000px);
      transform: translateX(-1000px);
      opacity: 0;
    }
    100% {
      -webkit-transform: translateX(0);
      transform: translateX(0);
      opacity: 1;
    }
  }
}
/* ROTATING */
@-webkit-keyframes rotating /* Safari and Chrome */ {
  from {
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes rotating {
  from {
    -ms-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -ms-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
.rotating {
  -webkit-animation: rotating 4s linear infinite;
  -moz-animation: rotating 4s linear infinite;
  -ms-animation: rotating 4s linear infinite;
  -o-animation: rotating 4s linear infinite;
  animation: rotating 4s linear infinite;
}

/***** Pulse *****/

.pulse:hover {
  animation: pulse 1s infinite;
  animation-timing-function: linear;
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}
/***** Slide in left *****/

/* ----------------------------------------------
 * Generated by Animista on 2022-3-8 9:12:52
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation slide-in-left
 * ----------------------------------------
 */

.slide-in-left {
  -webkit-animation: slide-in-left 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94)
    both;
  animation: slide-in-left 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}
@-webkit-keyframes slide-in-left {
  0% {
    -webkit-transform: translateX(-1000px);
    transform: translateX(-1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
}
@keyframes slide-in-left {
  0% {
    -webkit-transform: translateX(-1000px);
    transform: translateX(-1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
}
