body {
  background-color: #424952;
  color: #35d2d4;
}
h2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
}
.new-recipe-form {
  margin-top: 30px;
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.new-recipe-input {
  width: 35%;
  border: 2.5px solid #6ce5e8;
  border-radius: 10px;
  text-align: center;
}

.new-recipe-button {
  background: #6ce5e8;
  border: none;
  padding: 10px 20px;
  margin: 10px;
  color: white;
  border-radius: 10px;
}

.submissions {
  display: flex;
  align-items: center;
  justify-content: space-even;
  flex-wrap: wrap;
}
img {
  margin-top: 30px;
}
/***** Shake *****/

.shake:hover {
  animation: shake 200ms infinite;
  animation-timing-function: linear;
  transform: scale(1.5);
}

@keyframes shake {
  0% {
    transform: rotate(5deg);
  }
  50% {
    transform: rotate(-5deg);
  }
  100% {
    transform: rotate(5deg);
  }
}

/***** Zoom *****/

.zoom:hover {
  transform: scale(1.03);
  transition: all ease 500ms;
}

.new-image {
  height: 300px;
  width: 300px;
}

@media screen and (max-width: 960px) {
  .submissions {
    border-radius: 10px;
    box-shadow: #424952;
    margin: 20px 0px 0px 0px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background: white;
    align-items: center;
    min-width: 40%;
    background-color: #424952;
    color: #6ce5e8;
  }
}
