.recipes {
  border-radius: 10px;
  box-shadow: #424952;
  margin: 24px 0px 0px 0px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  background: white;
  align-items: center;
  min-width: 30%;
  background-color: #424952;
  color: #6ce5e8;
}
img {
  border-radius: 15px;
  border: 1px solid var(--secondary-color);
}

.AddedBtn {
  color: lightgreen;
}

@media screen and (max-width: 960px) {
  .recipes {
    border-radius: 10px;
    box-shadow: #424952;
    margin: 20px 0px 0px 0px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background: white;
    align-items: center;
    min-width: 40%;
    background-color: #424952;
    color: #6ce5e8;
  }
  .flip-card {
    justify-content: space-around;
    background-color: transparent;
    width: 150px;
    height: 100px;
    /* Remove this if you don't want the 3D effect */
  }
}
/***** Pulse *****/

.pulse:hover {
  animation: pulse 1s infinite;
  animation-timing-function: linear;
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.07);
  }
  100% {
    transform: scale(1);
  }
}

/***** flip card *****/
.flip-card {
  margin-top: 70px;
  justify-content: space-around;
  background-color: transparent;
  width: 300px;
  height: 350px;

  border-radius: 15px;
  perspective: 1000px; /* Remove this if you don't want the 3D effect */
}

/* This container is needed to position the front and back side */
.flip-card-inner {
  transition: transform 0.8s;
  transform-style: preserve-3d;
  border-radius: 15px;
}

/* Do an horizontal flip when you move the mouse over the flip box container */
.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

/* Position the front and back side */
.flip-card-front,
.flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden; /* Safari */
  backface-visibility: hidden;
}

/* Style the front side (fallback if image is missing) */
.flip-card-front {
  background-color: #bbb;
  color: black;
  border-radius: 15px;
}

/* Style the back side */
.flip-card-back {
  background-color: grey;
  color: #35d2d4;
  transform: rotateY(180deg);
  border-radius: 15px;
}
